<!DOCTYPE html>
<html lang="en">
<head>
    <title>To do List</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>


<body>
    
    <div class="box" id="heading">
        <h1> <%= day %> </h1>
    </div>

    <div class="box">
        <ul>
            <%  for (var i=0; i < newListItems.length; i++){ %>
                  <li><%= newListItems[i] %> </li>
             <% } %>
         </ul>
      
    </div>
   <form action="/" class="" method="post">
        
        <input type="text" name="newItem">

        <button type="submit" name="button">Add</button>
    </form>
    
    
</body>



</html>